---
layout: 'layouts/flashtalking'
background-image: "./assets/img/background.jpg"
headline-1: "ICH BIN DER BANNER STATUS 1."
headline-2: "ICH DER STATUS 2."
headline-3: "DANN BIN ICH STATUS 3."
headline-4: "UND HIER DER LETZTE STATUS 4."
logo-image: "./assets/img/logo.png"
---

{{#mixin "banner/flashtalking/728x90" background-image=background-image fallback-image=fallback-image}}
  {{#content "foreground"}}
      <span class="headline-1 state-1">{{{../headline-1}}}</span>
      <span class="headline-2 state-2">{{{../headline-2}}}</span>
      <span class="headline-3 state-3">{{{../headline-3}}}</span>
      <span class="headline-4 state-4">{{{../headline-4}}}</span>
      <img class="logo" src="{{{../logo-image}}}"/>
  {{/content}}
{{/mixin}}
